:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-secondary-dark: #a28268;
    --color-brand-dark: #465929;
    --color-brand-normal: #819b57;
    --color-brand-light: #cfcfbc;
}
.hero-section__title {
    margin-bottom: 48px;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 67px;
    line-height: 1;
    font-weight: 900;
}
.text-brand {
    color: var(--color-brand-normal);
}
.link {
    color: var(--color-primary-light);
}
.link:hover {
    color: var(--color-brand-normal);
}
.hero-section {
    padding: 124px 0;
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

   @media screen and (min-width: 768px) {
       .advantages-section  {
           padding: 16px 0;
           background-color: var(--color-brand-normal);
       }
   }
.container {
    width: 100%;
    max-width : 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
.advantages-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction     : column;
    flex-direction: column;
    gap: 16px;
    padding: 24px 40px;
    background-color: var(--color-brand-light);
    border-radius: 24px;
}
}
.advantages-section__item {
    font-size: 14px;
    font-weight : 300;
}
.hero-section__button {
    /*
     Shorthand property to set values for the thickness of the margin area. If left is omitted,
    it is the same as right. If bottom is omitted it is the same as top,
    if right is omitted it is the same as top. Negative values for margin properties are allowed,
    but there may be implementation-specific limits. Widely available across major browsers (Baseline since January 2018) Learn more Don't show
    */
margin: auto;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
}
.button {
    display: block;
    padding: 10px 24px;
    color: var(--color-primary-light);
    /* Specifies weight of glyphs in the font,
    their degree of blackness or stroke thickness. 
    Widely available across major browsers (Baseline since January 2018)
     Learn more Don't show*/
    font-weight:600;
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
}  
.visually-hidden {
    /* The position CSS property sets how an element is positioned in a document. The top,
    right,
    bottom,
    and left properties determine the final location of positioned elements.
     Widely available across major browsers (Baseline since January 2018)
      Learn more Don't show*/
    position : absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}